<div id="newsletter">
  <form name="newsletterForm">
    <input
      required="required"
      id="emailInput"
      name="email"
      type="email"
      placeholder="Enter your email to get updates"
    />
    <button id="emailSubmit" type="submit">
      <span id="emailSubmitText">
        Subscribe
      </span>
      <img
        id="emailSubmitImg"
        class="email-success"
        src="{{ site.baseurl }}/assets/icons/check.svg"
        alt="success icon"
      />
    </button>
  </form>
</div>
