---
title: CSS stylesheet
---

@font-face {
    font-family: 'Avenir-Black';
    src: url('{{ site.baseurl }}/assets/fonts/Avenir-Black.woff2') format('woff2'),
         url('{{ site.baseurl }}/assets/fonts/Avenir-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('{{ site.baseurl }}/assets/fonts/Avenir-Book.woff2') format('woff2'),
         url('{{ site.baseurl }}/assets/fonts/Avenir-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('{{ site.baseurl }}/assets/fonts/Avenir-Heavy.woff2') format('woff2'),
         url('{{ site.baseurl }}/assets/fonts/Avenir-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('{{ site.baseurl }}/assets/fonts/Avenir-Light.woff2') format('woff2'),
         url('{{ site.baseurl }}/assets/fonts/Avenir-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('{{ site.baseurl }}/assets/fonts/Avenir-Medium.woff2') format('woff2'),
         url('{{ site.baseurl }}/assets/fonts/Avenir-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('{{ site.baseurl }}/assets/fonts/Avenir-Roman.woff2') format('woff2'),
         url('{{ site.baseurl }}/assets/fonts/Avenir-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Din';
    src: url('{{ site.baseurl }}/assets/fonts/Din.woff2') format('woff2'),
         url('{{ site.baseurl }}/assets/fonts/Din.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Din-Bold';
    src: url('{{ site.baseurl }}/assets/fonts/Din-Bold.woff2') format('woff2'),
         url('{{ site.baseurl }}/assets/fonts/Din-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}